var  includes = function (statusList,curStatus) {
  statusList.map(function (item) {
    item=item+''
  })
  return statusList.indexOf(curStatus)>-1
}

//数组
var isInArray = function(arr, value) {
  for (var i = 0; i < arr.length; i++) {
    if (value === arr[i]) {
      return true;
    }
  }
  return false;
}

var fnIndexOf = function (arr, arg){
  var result= false,
  result = arr.indexOf(arg) > -1;
  return result;
}

module.exports = {
  includes : includes,
  isInArray: isInArray,
  fnIndexOf:fnIndexOf
}
